<a href="https://colab.research.google.com/github/darrelyaksaa/sijamantap/blob/master/pengenalan%20python%20data%20analytic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
a = "aku"
b = "darrel"
print("nama", a,b)

nama aku darrel

In [2]:
#variable dan tipe data dasar
nama = "darrel"
umur = 17
nilai = 90,4
lulus = True

print("nama:", nama)
print("umur:", umur)
print("nilai:", nilai)
print("status lulus:", lulus)

nama: darrel
umur: 17
nilai: (90, 4)
status lulus: True

In [8]:
# operasi dasar
a = 10
b = 5

print("penjumlahan:", a + b)
print("pengurangan:", a - b)
print("perkalian:", a * b)
print("pembagian:", a / b)

penjumlahan: 15
pengurangan: 5
perkalian: 50
pembagian: 2.0

In [14]:
# list menyimpan banyak data
nilai_siswa = [80, 85 ,90, 75, 95]

print("daftar nilai:", nilai_siswa)
print("nilai pertama:", nilai_siswa[0])
print("rata-rata:", sum(nilai_siswa)/len(nilai_siswa))

daftar nilai: [80, 85, 90, 75, 95]
nilai pertama: 80
rata-rata: 85.0

In [19]:
# dictionary menyimpan pasangan kunci-nilai
data_siswa = {
    "nama": "darrel",
    "kelas": "XI SIJA A",
    "nilai": 89,
}

print("data siswa:", data_siswa)
print("nama:", data_siswa["nama"])
print("nilai:", data_siswa["nilai"])

data siswa: {'nama': 'darrel', 'kelas': 'XI SIJA A', 'nilai': 89}
nama: darrel
nilai: 89

In [22]:
# input dan output sederhana
nama = input("masukan nama siswa: ")
nilai = float(input("masukan nilai siswa: "))

print(f"nama siswa: {nama}, nilainya: {nilai}")

masukan nama siswa: darrel
masukan nilai siswa: 100
nama siswa: darrel, nilainya: 100.0